.budget-dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto auto;
  grid-gap: 2rem;
  padding: 2rem;
}

.dashboard-box {

  background-color: #333366;
  color: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin-top: 2%;
}

.dashboard-box p {
  text-align: center;
}

.dashboard-box input {
    width: 100%;  
    max-width: 100%;  
    padding: 8px;
    margin: 5px 0;  
    box-sizing: border-box; 
}


.budget-breakdown-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.budget-breakdown-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0.5rem 0;
  text-align: center;
}

.budget-breakdown-row div {
  flex: 1;
  min-width: 80px;
}

.large-text {
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .budget-dashboard {
    grid-template-columns: 1fr;
    margin-left: 0;
  }
}